name: cSpell-cli
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npx cspell@latest -c cspellrc.json
