name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-node-versions:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          - 20.x
          - 22.x
          - 24.x

        os:
          - ubuntu-latest

        include:
          - node-version: 24.x
            os: windows-latest
          - node-version: 24.x
            os: macos-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci

      - run: npm test

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code

  test-performance:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          - 24.x

        os:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci

      # test:integrations will setup the test environment, which contains some perf tests.
      - run: npm run test:integrations

      - run: npm run perf
